In [1]:
x=10
print(x)

10

####int-integer(no decimal point)

In [3]:
num10.78
type(num)

SyntaxError: invalid syntax (2236506361.py, line 1)

In [4]:
num=10.78
type(num)

float

In [5]:
a="python"
type(a)

str

In [6]:
y=false
type(y)

NameError: name 'false' is not defined

In [7]:
y=False
type(y)

bool

#### Boolean-(True or False)

In [8]:
sample-list=[11,12.4,"girl",True]
sample-list

SyntaxError: cannot assign to operator (1335113857.py, line 1)

In [9]:
sample_list=[11,12.4,"girl",True]
sample_list

[11, 12.4, 'girl', True]

In [10]:
type(sample_list)

list

#### List is hetrogenous-multiple data types

In [11]:
sample_list[0]

11

In [12]:
sample_list[5]

IndexError: list index out of range

In [13]:
sample_list[2]

'girl'

In [14]:
sample_list[2]="man"
sample_list

[11, 12.4, 'man', True]

### list is heterogenous-multiple data types
### list=""
### Index is mutable-make changes

### Tuple

In [16]:
sample_tuple=(11,12.4,"girl",True)
sample_tuple

(11, 12.4, 'girl', True)

#### type,index,mutable

In [18]:
type_tuple=(sample_list)
type_tuple

[11, 12.4, 'man', True]

In [19]:
sample_list_tuple[0]

NameError: name 'sample_list_tuple' is not defined

In [20]:
samplelist_tuple[0]

NameError: name 'samplelist_tuple' is not defined

#### type tuple

In [21]:
type(sample_list)

list

In [22]:
type(sample_tuple)

tuple

In [23]:
sample_tuple[0]

11

#### Hetrogenous
#### () or without any bracket
#### Index start from zero
#### Immutable

sample_set={1,2,3,11.4,17.9,2,0,11,0,"hi","hello"}
sample_set

#### order according to 1st didgit and alphabetical order
#### Repitition is not allowed
#### Hetrogenous

In [25]:
sample_set[0]

TypeError: 'set' object is not subscriptable

#### cannot access using index

In [27]:
sample_set[0]=5
sample_set

TypeError: 'set' object does not support item assignment

### unmutable

In [28]:
sample_set.remove(1)
sample_set

{0, 11, 11.4, 17.9, 2, 3, 'hello', 'hi'}

#### mutable because we can add and remove data

In [29]:
sample_set.add(5)
sample_set

{0, 11, 11.4, 17.9, 2, 3, 5, 'hello', 'hi'}